.first{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px #e0e0e0 solid;
}
#slash{
  color: #e0e0e0;
}
.infor{
  margin-left: 80px;
  display: flex;
  gap: 30px;
}
.mail{
  display: flex;
  align-items: center;
}
#mail-logo{
  background-image: url('../../assets/mail-icon.png');
  height: 25px;
  width: 25px;
}
.map{
  display: flex;
  align-items: center;
  gap: 5px;
}
#map-logo{
  background-image: url('../../assets/map-icon.png');
  height: 25px;
  width: 25px;
}
.informatio{
  color:#a0a0a0;
}

.contact{
  margin-right: 80px;
  display: flex;
  gap: 10px;
  align-items: center ;
}

#facebook {
  background-image: url('../../assets/facebook-icon.png');
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: solid #a0a0a0 5px;
  border-radius: 50%;
  background-color: #a0a0a0;
  transition: all 0.3s ease-in-out;
}

#facebook:hover { 
  background-color: #F35525;
  border: solid #F35525 5px;
}

#x{
  cursor: pointer;
  background-image: url('../../assets/X-icon.png');
  height: 20px;
  width: 20px ;
  border: solid #a0a0a0 5px;
  border-radius: 50%;
  background-color: #a0a0a0;
  transition: all 0.3s ease-in-out;
}
#x:hover{
  background-color: #F35525;
  border: solid #F35525 5px;
}

#linkedin{
  cursor: pointer;
  background-image: url('../../assets/linkedin-logo.png');
  height: 20px;
  width: 20px ;
  border: solid #a0a0a0 5px;
  border-radius: 50%;
  background-color: #a0a0a0;
  transition: all 0.3s ease-in-out;
}

#linkedin:hover{
  background-color: #F35525;
  border: solid #F35525 5px;
}

#instagram{
  background-image: url('../../assets/instagram-logo.png');
  height: 20px;
  width: 20px ;
  cursor: pointer;
  border: solid #a0a0a0 5px;
  border-radius: 50%;
  background-color: #a0a0a0;
  transition: all 0.3s ease-in-out;
}

#instagram:hover{
  background-color: #F35525;
  border: solid #F35525 5px;
}